* {
    box-sizing: border-box;
}

body {
    background: url('bgg.jpg');
    background-size: 100%;
    height: 100vmax;
}


.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar a {
    font-size: 25px;
    text-decoration: none;
    color: blanchedalmond;
    padding: 0px 50px;
}



.main {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
}


.main a {
    text-decoration: none;
    color: blanchedalmond;
    padding: 26px;
    font-size: 25px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 325px;
    color: blanchedalmond;
    position: relative;
    top: 350px;
}


.lo {

    height: 50px;
    width: 50px;
    border-radius: 30px;
}

footer a {
    color: blanchedalmond;
    padding: 0px 10px;
    font-size: larger;
}

footer p {
    font-size: larger;
}


h1 {
    margin: 50px 300px;
    text-align: center;
    font-size: 70px;
    background-color: blanchedalmond;
    border-radius: 30px;
}

summary {
    font-size: 25px;
    margin: 0px 150px -80px 150px;
    color: blanchedalmond;
}

#services {
    margin: 250px;
    display: flex;
    justify-content: center;
}

#services .box {

    border: 2px solid black;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}